

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}


img#passic {
      margin-left: 5px;
      height: 30px;
      float: inline-end;
      width: 30px;
      position: relative;
      top: 52%;
      right: 2%;
     bottom: -49px;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}

.container .content{
  text-align:center;
}
.container .content h3{
font-size: 30px;
color: #333;
}
.container .content h3 span{
  background: crimson;
  color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}

.container .content h1{
font-size: 50px;
color: #333;
}

.container .content h1 span{
  color:crimson;
}

.container .content p{
font-size: 25px;
margin-bottom: 20px;
}

.container .content .btn {
  display: inline-block;;
  padding: 10px 30px;
  font-size: 20px;
  background: #333;
  color: #fff;
  margin: 0 50px;
  text-transform: capitalize;
}

.container .content .btn:hover{
  background: crimson;
  border-radius: 5px;
}


.form_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 60px;
}

.form_container form {
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0s.1);
  background: #fff;
  text-align: center;
}

.form_container form h3{
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}

.form_container form input,
.form_container form select
{width:100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
}
.form_container form select opition{
  background: #fff;

}

.form_container form .form_btn{
  background: #fbd0d9;
  color: crimson;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
}

.form_container form .form_btn:hover{
  background:crimson ;
  color: #fff;
}
.form_container form p{
  margin-top: 10px;
  font-size: 20px;
  color:#333;
}

.form_container form a{
  color: crimson;
}

.form_container  .err-msg{
  margin:10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;

}
