



.slider-wrapper {
  margin: 1rem;
  position: absolute;
  top:0;
  overflow: hidden;
  width: 45%;
  z-index: 99;
}

.slides-container {
  height: calc(100vh - 2rem);
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scroll-behavior: smooth;
}

#staffs_img{
  width: 400px;
  height:500px;
  border-radius: 20px;
  opacity: .8;
  filter: grayscale(1);
}
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides-container {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
/* WebKit */
.slides-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 400ms;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
  transition: opacity 400ms;

}
#slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
  border-radius: 40rem 4rem 29rem 11rem;

}
#slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
  border-radius:  4rem 40rem 11rem 29rem ;

}
