.header {

    color: #263733;
    font-size: 2.5rem;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 500;
    -webkit-border-radius: 20px;
    width: 380px;
    margin:30px 0px 25px 100px;
}



    .pressed {
        box-shadow:0px 3px 4px 0px #91e4ee;
        opacity:0.5;
    }

.vid {
    height: 250px;
    width: 400px;
}


.v1 {
    width: 400px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    margin: 20px 0px 20px 83px;

}


label{
    text-align:left;
    color:black;
    font-size:1.3rem;
    font:bold;
    font-family:'Times New Roman', Times, serif;
}


.vim {
  background: #ffffff;
    /* border-top: 1.6px solid;
    border-top-color: #8db9ac;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px; */
}
