
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif,fantasy;
}

:root{
  --primary-color: #011622e3;
--secondary-color: #2eacf62e;
--teritiary-color: #58e2ff85;
--quaternary-color: #6c678685;
--fiv-color: #6c678685;
--selection-color: #fcf3c27a;
   transition: all 1s ease-in-out;
}


.gold_theme
{  --primary-color: #9c9570cc;
      --secondary-color: #fff7cc85;
      --teritiary-color: #f3dd93d1;
      --quaternary-color: #e0d6a4;
      --fiv-color: #fdff00;
      --selection-color: #80bcde85;
   transition: all 1s ease-in-out;
}


body {
     min-height: 100vh;
     overflow-x: hidden;
     cursor:none;
     transition: all 1s ease-in-out;
}

span.message{
  color: crimson;
  background: #ed143d4a;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
 border-radius: 8px;
 margin-bottom: 10px;

}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:30px 100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:100;
    transition:.4s;
}
.success{

color: #14cd35;
background: #82ff987a;
height: 42px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.3rem;
font-weight: bold;
border-radius: 8px;
margin-bottom: 10px;

}



.color {
    background: #90bc7d;
    background: var(--primary-color);
    transition: .4s;
}

.color1 {

    color: white;
    transition: .4s ease-in-out;
}

.color2 {

    color: white;
    transition: .4s ease-in-out;
}

.logosConatiner{
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;

}
.logo {
    font-size: 2em;
    font-weight: 500;
    display:contents;
    /*here*/
    user-select: none;
}

#AUC_LOGO{
    height:30px;
    width:30px;
    border-radius:2px;
    float:right;
    animation: 1s 10 alternate ease-in-out  colr,1s 6 alternate ease-in-out smothie;
    animation-delay: 6s;
}
@keyframes colr {

  to{
    filter: hue-rotate(150deg);
  }
}


.navigation a {
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding: 6px 15px;
    transition: .5s ease-in-out;
}




    .navigation a:hover,
    .navigation a.active {
        font-weight: 600;
        color: #333;
        transition: .5s ease-in-out;
    }
    .navigation a:hover {
        animation: 1s infinite alternate ease-in-out smothie;
    }


        .navigation a span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fefefe;
            border-radius: 30px;
            z-index: -1;
            opacity: 0;
            /*here*/
            transform: scale(0);
            transition: .5s ease-in-out;
        }

    .navigation a:hover span,
    .navigation a.active span {
        /*here*/
        transform: scale(1);
        opacity: 1;
        transition: .5s ease-in-out;
    }
    .navigation a:hover span {
        animation: 1s infinite alternate ease-in-out smothie;
    }

.welcomeHome {
    position: absolute;
    left: 99px;
    top: 40%;
    width: 60%;
    z-index:9;
}
    .welcomeHome p {
        width: 50%;
        color: white;
        font-size: 1.15rem;
        font-family:  system-ui;
        font-weight:300;
        transform: translateY(-2rem);
    }

    #text {
        font-size: 2.27rem;
        font-weight: 500;
        color: white;
        transform: translateY(-3rem);
    }

.parallax img {
    position: relative;
    pointer-events: none;
    filter: opacity(0.07);
}



    .parallax img#cright {
        transform: translateX(-30rem) translateY(-3rem);
    }


    .parallax img#cleft {
        transform: translateX(30rem) translateY(-3rem);
        align-content: end;
    }


.sec p {
    font-size: 1rem;
    color: white;
;
    font-weight:300;
    line-height:25px;
    text-align: justify;
    width: 70%;
}
    .sec h2 {
        font-size:3rem;
        color:white;
        margin-bottom:10px;
    }

.sec {
    position: relative;
    background: #B3CDAA;
    background: var(--primary-color);
    padding: 30px 100px;
    z-index: 10;

}
.newsec {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}
.NewsLandingbtn {
    position: fixed;
    bottom: 35px;
    right: 2%;
    width: 65px;
    height: 65px;
    background: var(--quaternary-color);
    font-weight: 600;
    background-image: linear-gradient(37deg, var(--teritiary-color) -69%, var(--primary-color) 70%);
    color: white;
    z-index:111111111;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 2px 4px 22px 8px rgba(0,0,0,0.07);
    border-radius: 31px;
    animation: 1s infinite alternate ease-in-out smothie;
}


.enrollLandingbtn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 260px;
    height: 54px;
    border: none;;
    box-shadow: 1px 4px 9px #ffffff38;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 8px;
    background: var(--fiv-color);
    color: white;
    background-image: linear-gradient(37deg, var(--teritiary-color)
 -78%, var(--primary-color) 70%);
    text-decoration: none;
    animation: 1s 6 alternate ease-in-out smothie;
    transition: all .5s ease-in-out;

}

.enrollLandingbtn:hover{
        animation: 1s infinite alternate ease-in-out smothie;
        transition: all .5s ease-in-out;

    }

    @keyframes smothie {
        from {
            transform: scale(1);

        }

        to {
            transform: scale(.9) ;


        }
}


a{
  color: white;
}
.v1 label:hover {

    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.the_day {
    text-align: start;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 20px;
    width: 95%;
}


::selection {
    background: #00a74b7d;
    background: var(--selection-color);
}

.enroll {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
    z-index: 10;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.enrollment_form {
    display: flex;
    justify-content: center;
    /*    align-items:center;
*/ flex-direction: column;
    min-height: 500px;
    width: 50%;
    background: #f7e794;
    background: var(--secondary-color)
;
    padding: 60px 50px;
    margin: 50px 0px;
    border-radius: 20px;
}

#imagepop {
    position: absolute;
    top: 15%;
    right: 100px;
    z-index: 9;
    height: 417px;
    width:626px;
    border-radius: 40px;
    overflow: hidden;
    transition:all .5s ease-in-out;
}

.pop {
    animation: 20s infinite alternate ease-in-out pop;
    transition: transform .5s ease-in-out;
}
    .pop:hover {
        transform: scale(1.05);
        transition: transform .5s ease-in-out;
    }

    @keyframes pop {
        0% {
        background: url('images/s1.jpg');
        background-size: cover;

    }
    25% {
        background: url('images/s2.jpg');
        background-size: cover;

    }
    50% {
        background: url('images/s3.jpg');
        background-size: cover;


    }
    75% {
        background: url('images/s4.jpg');
        background-size: cover;

    }
    100% {
        background: url('images/s5.jpg');
        background-size: cover;

    }

}


.enrollment_inpt {
    color: #1f002a;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    border: none;
    text-align: start;
    outline: none;
    background: #eeeeff;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: sans-serif;
    padding-left: 15px;
    margin: 10px 0px 20px 0px;
    box-shadow: 0px 0px 15px 0 rgb(0, 0, 0, 0.18);
}


.ads {
    position: relative;
    top: 100px;
    right: 50px;
    z-index: 9;
    min-height: 40vh;
    width: 70vh;
    background: #eeeeff;
    color: black;
    border-radius: 20px;
    padding: 45px;
    line-height: 25px;
    overflow: hidden;
    scale: 1.4;
    box-shadow: 0px 0px 15px 0 rgb(0, 0, 0, 0.18);
}
a.btn.logbtn {
color: crimson;
}
a.btn.logbtn:hover{
  color: brown;
}

/*  footer*/
.footer {
  position: relative;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 100vh;
      outline: 85px dashed #ebfbff47;
      background: #ebfbff;
      z-index: 10;
      outline-style: groove;

}

.bottom_scroll,.top_scroll{
  position: fixed;
  display: block;
  bottom:2%;
  right: 50%;
  width: 27px;
height: 87px;
z-index: 12;
font-size: 4rem;
    font-family: serif;
    border: 3px solid;
    border-radius: 6px;
    color: #00000063;
    background: #ffffff6b;
    transition: .5s all ease-in-out ;

}
.bottom_scroll{
  transform: rotate(90deg);

}
.top_scroll{
  transform: rotate(-90deg);

}

.nonew {
display: none;
}

.sp-module{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 100px;
  justify-content: center;
  width: 28%;
  font-size: 1.2rem;
  line-height: 33px;
  gap: 10px;
}
.sm_module{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 100px;
  justify-content: center;
  width: 28%;
  font-size: 1.2rem;
  line-height: 33px;
  gap: 10px;
}
.social-icons li{

  list-style: none;
}
.social-icons li a{
    color: black;
    text-decoration: overline;
    text-decoration-color: #386a96;

    justify-content: center;
    display: flex;
    align-items: center;
    gap:10px;
}

ul.social-icons {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row;
    gap: 30px;
}
.fa{
      height: 30px;
      width: 30px;
      border-radius: 100%;
      box-shadow: 3px 2px 3px rgba(0,0,0,0.3);
}
/*  footer*/



/*START cursor*/
.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    outline-color: white;
    outline: 3px dashed hsla(0,0%,100%,0.5);
}

.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 1999999999;
    pointer-events: none;
    box-shadow: 2px 3px 4px 5px rgba(0,0,0,0.25);
}

    /* END cursor*/


    /*color palate blush

    smooth
    #80bcde85
    hardi
    #80bcde
    whiti
    #eeeeff
     whiti
    #fefefe

    //brown
    #bb7272;




*/
/* student info table */
table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3rem;
    color: #cbb954;
    position: absolute;
top: 150px;
left: 100px;
background: white;
padding: 20px;
font-weight: 500;

box-shadow: 2px 2px 113px #cbb95434;
border-radius: 20px;
z-index: 10;

}


.coantact_table{
  position:relative;
  width: 50%;
  left:49%;

}
th{
  font-size: 1.15rem;
  font-weight: 500;
}
td{
  word-break: break-all;
}
tr{
  max-width:90%;

}

td.dom {
    filter: blur(4px);
}

td.dom:hover {
    filter: blur(1px);
}

.doni {
    color: crimson;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    min-width: 86px;
    outline: 2px solid;
    transition: color .5s ease-in-out;
}
.doni:hover{
color: white;
background: crimson;
transition: color .5s ease-in-out;
}


.donigreen {
    color: #15f015;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    min-width: 86px;
    outline: 2px solid;
    transition: color .5s ease-in-out;
}
.donigreen:hover{
color: white;
background: #15f015;
transition: color .5s ease-in-out;
}

.doniplus{
    color: crimson;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbd0d9;
}
th {
    text-decoration: underline;
}

tbody {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}


/* student info table */
    .aboutSec {
        position: absolute;
        left: 100px;
        top: 100px;
        align-items: center;
        justify-content: center;
        display: inline-flex;
        flex-direction: row;
        text-align: left;
    }

    .about_slider.vim.sld1 , .about_slider.vim.sld2{
        width: 300px;
        filter: brightness(1);
        transition: all .5s ease-in-out;
        }

    .about_slider.vim.sld1{
      animation: 1s 6 alternate ease-in-out smothie;
         }

.about_slider.vim.sld2{
  animation: 0.83333333333333333333s 6 alternate ease-in-out smothie;
  animation-delay: 1s;
}

.about_slider {
    height: 550px;
    width: 85px;
    background: linear-gradient(180deg,rgba(41,41,41,.5) 0%,#1e1e1e 100%);
    --tw-backdrop-blur: blur(8px);
    border-radius: 20px;
    z-index: 10;
    margin-right: 20px;
    transition: all .5s ease-in-out;
    box-shadow: 2px 2px 25px 25px rgba(0,0,0,0.03);
    overflow:hidden;
    text-overflow:ellipsis;
    padding:20px;
    line-height:25px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
  filter: drop-shadow(2px 4px 5px black);
    transition: all .5s ease-in-out;
}
.vim{
  background:linear-gradient(180deg,#5c4246a3 0%,#ba8a90 100%);
}

.about_slider.vim.sld1:hover,.about_slider.vim.sld2:hover {

    background: linear-gradient(180deg,#dc9ea7a3 0%,#d99ba3 100%);
  }

    .about_slider:hover {
        width: 300px;
        scale: 1.041;
        transition: all .5s ease-in-out;
        filter: brightness(1);
        color:white;
    }

    .about_slider h4{
        font-family:system-ui;
        font-weight:300;
    }

 .c4{
        animation:2s ease-in-out 1 widithanime;

    }

.c3 {
    animation: 2s ease-in-out 1 widithanime;
    animation-delay:1.5s;

}

.c2 {
    animation: 2s ease-in-out 1 widithanime;
    animation-delay: 3s;

}

.c1 {
    animation: 2s ease-in-out 1 widithanime;
    animation-delay: 5s;

}

@keyframes widithanime{
    from {
        width: 300px;
        color:white;

    }

    to {
        width: 85px;
        filter: brightness(1);


    }

}

.pop span{
  text-align: center;
  font-size: 2rem;
  color: white;
  position: relative;
  bottom: 178px;
  color:mistyrose;
}
.pop{
  display: flex;
  align-items:end;
  justify-content: center;
}

form span{
  font-size: 1.3rem;
  color: #black;
}

.userbutton {
position: absolute;
top:25%;
right: 2%;
width: 50px;
height: 50px;
background: rgba(0, 0, 0, 0.5);
border-radius: 100%;
    DISPLAY: flex;
    JUSTIFY-CONTENT: center;
    ALIGN-ITEMS: center;
    FONT-SIZE: 2.2REM;
    color: white;
    box-shadow: 3px 4px 15px 11px rgba (255,255,255,0.3);
    animation: 1s 6 alternate ease-in-out smothie;

}

.aboutwraper{
    color:white;
    position:absolute;
    bottom:50px;
    left:100px;
    font-size:1.8rem;
}

.touchpad {
    position: absolute;
    bottom: 9px;
    width: 50px;
    height: 50px;

}
    .x {
        animation: 1s infinite alternate ease-in-out smothie;

    }

    .x1 {
        animation: 1s infinite alternate ease-in-out smothie;
        animation-delay: 1s;
    }
    .x2 {
        animation: 1s infinite alternate ease-in-out smothie;
        animation-delay: 2s;
    }

    .x3 {
        animation: 1s infinite alternate ease-in-out smothie;
        animation-delay: 3s;
    }


    .a1 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url('images/nana1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        transition: ease-out 1.5s;
        filter: brightness(0.5);
    }

.a2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}
.a4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}
.a5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}
.a6 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana6.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a7 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana7.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a8 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a9 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana8.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}
.a10 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana11.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a11 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a12 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana10.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a13 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana12.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a14 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana13.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a15 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana14.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a16 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana15.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a17 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana16.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a18 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana17.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a19 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('images/nana18.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a20 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e2a7af;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a21 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #3c3c3cde;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}

.a22 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #181515de;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.5);
}


.a23 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #72dcf3;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.75);
}


.a24 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ff9af1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.75);
}

.a25 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffed8a;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: ease-out 1.5s;
    filter: brightness(0.75);
}
